<ng-container *ngIf="audioService.playerState$ | async as state">

  <div style="height: 90px; width: 100%; display: block; background-color: #121212;"></div>

  <div class="global-player-container">
    
    <div class="now-playing-left">
      <img [src]="audioService.getCoverImageUrl(state.song.coverImageUrl)" class="player-cover" alt="Cover">
      <div class="song-info">
        <h4>{{ state.song.title || state.song.songTitle }}</h4>
        <p>{{ state.song.artistName || 'Unknown Artist' }}</p>
      </div>
    </div>
    
    <div class="player-center">
      <audio controls [autoplay]="state.autoplay" [src]="audioService.getAudioUrl(state.song.audioFileUrl)"></audio>
    </div>
    
    <div class="player-right">
      </div>

  </div>

</ng-container>